#contact-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .text-container {
        
        h1{
            font-size: 5em;
            text-align: center;
            line-height: 1em;   
        }

    }
}