#contact-section {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .text-container {
        
        h1{
            font-size: 5em;
            text-align: center;
            line-height: 1em;   
        }

    }

    @media screen and (max-width: 768px){
       .text-container {
           h1 {
               font-size: 2em;
           }
       }
    }
}