header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    top:0;
    align-items: center;
    z-index: 999;
    background: rgba(255,255,255,0.5);

    
    #home-link {
        margin-left: 15px;
        height: 30px;

        .logo {
            height: 100%
        }

    }

    //Burger Menu
    .burger-container {
        width: 60px;
        height: 60px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .burger-button {
            width: 20px;
            height: 2px;
            position: relative;
            background: $Black;

            &:before {
                content:"";
                position: absolute;
                top: -5px;
                left: 0;
                width: 100%;
                height: 2px;
                background: $Black;
                
            }
            &:after {
                content:"";
                position: absolute;
                top: 5px;
                left: 0;
                width: 100%;
                height: 2px;
                background: $Black;
            }

        }
    }

    nav{
        ul{
            margin: 0;
            padding: 0;
            list-style: none;;

            li{
                display: inline-block;
                margin: 0 15px;

                a{
                    text-decoration: none;
                    font-family: $Unisans;  
                    font-weight: 700;
                    color: $Black;
                }
            }
        }
    }
}