.on-enter-animation {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1000;

    .enter {
        height: 100%;
        width: 100%;
        background: $Black;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wipe-one {
        width: 100%;
        background: $White;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1200;
    }

    .logo-loading {
        width: 20%;
    }

}

.page-transition {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    top: 0;

    .wipe-black{
        width: 100%;
        height: 100%;
        background: $Black;
        position: absolute
    }

    .wipe-white{
        width: 100%;
        height: 100%;
        background: white;
        position: absolute;
    }
}