.project-page {
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
    margin-top: 75px;   

    .project-details {
        height: 60vh;
        display: flex;
        align-items: center;

        .text-holder{
            .inline-text{
                *{
                    display: inline-block;
                }

                h1{
                    font-size: 5em;
                    margin:0;
                }
                h2 {
                    color: #C9C9C9;
                }
            }

            .description{
                max-width: 960px;
            }
        }


    }

    .project-image-list {
        width: 100%;

        ul {
            margin: 0;
            list-style-type: none;
            padding: 0;
            li{
                img{
                    width: 100%;
                    padding: 15px 0;
                }
            }
        }
    }

    @media screen and (max-width:480px){

        .project-details {
            height: initial;
            
            .text-holder{
                .inline-text {
                    h1{
                        font-size: 2em;
                        display: block;
                    }

                    h2 {
                        font-size: 1em;
                        display: block;
                    }
                }
            }

        }

        .project-image-list {
            ul{
                li{
                    img{
                        padding: 5px 0;
                    }
                }
            }
        }
    }

    .back-to-projects-btn{
        position: fixed;
        bottom: 0;
        right: 10px;
        padding: 15px;
        background: #2a2a2a;
        border-radius: 10px 10px 0 0;

        a {
            color: $White;
            font-family: $Unisans;
            font-weight:700;
            text-decoration: none;
        }
    }

    @media screen and (max-width:768px){
        .project-details {
            height: initial;
            
            .text-holder{
                .inline-text {
                    h1{
                        font-size: 3em;
                        display: block;
                    }

                    h2 {
                        font-size: 2em;
                        display: block;
                    }
                }
            }

        }
    }
}