.project-page {
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
    margin-top: 75px;   

    .project-details {
        height: 70vh;
        display: flex;
        align-items: center;

        .text-holder{
            display: flex;
            flex-direction: column;
            height: 100%;
            .inline-text{
                flex: 1;

                h1{
                    font-size: 5em;
                    margin:0;
                }
                
                h2 {
                    color: #C9C9C9;
                }
            }

            .description{
                margin:0;
                flex:1;
            }

            .content-holder {
                width: 100%;
                flex: 2;
                
                .content{
                    height: 100%;
                
                    .tabs{
                        width: 100%;
                        ul{
                            padding: 0;

                            .active {
                                opacity: 1;
                                position: relative;
                            }

                            li{
                                display: inline-block;
                                margin-right: 20px;
                                font-family: $Unisans;
                                font-weight: 700;
                                opacity: 0.2;
                                transition: 0.3s ease-out;
                                position: relative;
                            }
                            li:hover{
                                opacity: 1;
                                cursor:pointer;
                            }

                            li:before{
                                content: "";
                                position: absolute;
                                width: 100%;
                                height: 3px;
                                bottom: -5px;
                                left: 0;
                                background-color: $Black;
                                visibility: hidden;
                                transform: scaleX(0);
                                transition: all 0.3s ease-in-out;
                            }
                    
                            li:hover:before{
                                visibility: visible;
                                -webkit-transform: scaleX(1);
                                transform: scaleX(1);
                            }

                        }
                    }

                    .case-study{
                        width: 60%;
                    }
                }
            }
        }

    }

    .description{
        width: 50%;
        margin: 100px 0;
    }

    .project-image-list {
        width: 100%;

        ul {
            margin: 0;
            list-style-type: none;
            padding: 0;
            li{
                img{
                    width: 100%;
                    padding: 15px 0;
                }
            }
        }
    }

    @media screen and (max-width:480px){

        .project-details {
            height: initial;
            
            .text-holder{
                .inline-text {
                    h1{
                        font-size: 2em;
                        display: block;
                    }

                    h2 {
                        font-size: 1em;
                        display: block;
                    }
                }
            }

        }

        .project-image-list {
            ul{
                li{
                    img{
                        padding: 5px 0;
                    }
                }
            }
        }
    }

    .back-to-projects-btn{
        position: fixed;
        bottom: 0;
        right: 10px;
        padding: 15px;
        background: #2a2a2a;
        border-radius: 10px 10px 0 0;

        a {
            color: $White;
            font-family: $Unisans;
            font-weight:700;
            text-decoration: none;
        }
    }

    @media screen and (max-width:768px){
        margin-top: 100px;

        .project-details {
            
            .text-holder{
                .inline-text {
                    h1{
                        font-size: 3em;
                        display: block;
                    }

                    h2 {
                        font-size: 2em;
                        display: block;
                    }
                }

                .content-holder{
                    .content{
                        ul {
                            li{
                                width: 30px;
                                height: 30px;
                                background: $Black;
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }

        }
    }

    @media screen and (max-width: 840px){
        .project-details {
            height: initial;

            .text-holder{

                .content-holder {

                    .content{
                        ul {
                            li{
                                width: 30px;
                                height: 30px;
                                background: $Black;
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }

        }
    }

    @media screen and (max-width: 940px){
        .project-details {

            .text-holder {

                .content-holder {
                    .content {
                        .case-study{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }


    @media screen and (min-width: 941px) and (max-width: 1440px){
        .project-details {

            .text-holder {

                .content-holder {
                    .content{
                        .case-study{
                            width: 80%;
                        }
                    }
                }
            }
        }
    }
}