@import 'vars';
@import 'header';
@import 'hero-section';
@import 'project-section';
@import 'contact-section';

body, html {
    padding: 0px;
    margin: 0;
    width: 100%;
    background: $White;
}

h1, h2, h3, h4 {
    font-family: $BigShoulder;
    font-weight: 900;
    color: $Black;
}

h3, h4 {
    font-weight: 500;

}

p, li, a, span {
    font-family: $Gothic;
    font-weight: 300;
    font-size: 16px;
    color: $Black;
}

.container {
    width: 100%;
}