@import 'vars';
@import 'header';
@import 'hero-section';
@import 'project-section';
@import 'contact-section';
@import 'footer';

@import 'project-pages';
@import 'about-page';
@import 'contact-page';
@import 'loading';

body, html {
    padding: 0px;
    margin: 0;
    width: 100%;
    background: $White;
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-family: $Unisans;
    font-weight: 900;
    color: $Black;
}

h3, h4 {
    font-weight: 500;

}

p, li, a, span {
    font-family: $Gothic;
    font-weight: 300;
    font-size: 16px;
    color: $Black;
}

.container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

.home-page {
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
}

.disclosure {
    font-weight: 700;
    color: red;
    font-size: 0.75em;
}