$White: #FFFFFF;
$Black: #2A2A2A;
$Champagne: #F4E9CD;


//Fonts
@import url('https://fonts.googleapis.com/css?family=Eczar:400,600,800|Gothic+A1:300,700&display=swap');

$BigShoulder: 'Eczar', serif;
$Gothic: 'Gothic A1', sans-serif;